<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Liste projets</title>
</head>
<body>
<h1>Liste des Projets</h1>
<a href="{% url 'rapport_projets' %}" ><button>Générer un rapport</button></a>
<ul>
    {% for projet in projets %}
    <li>
        <strong>{{ projet.nom }}</strong><br>
        {{ projet.description }}<br>
        <a href="{% url 'detail_projet' projet.id %}">
            <button>Voir le projet</button>
        </a>
    </li>
    {% endfor %}
</ul>

</body>
</html>
